<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My EJS Page</title>
</head>

<body>
    <h1>
        P0 is <%= P0 %> <br>
            P10 is <%= P10 %> <br>
                P30 is <%= P30 %> <br>
                    P60 is <%= P60 %> <br>
                        advise is <%= ad %> <br>
    </h1>
</body>

</html>